@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-blue: #2a92a4;
    --text-dark: #333;
    --white: #ffffff;
    --bg-light: #f3f4f6;
	--font-title: "Playfair Display";
	--font-body: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    background-color: var(--white);
    line-height: 1.6;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header::before {
	content: '';
	display: block;
	width: 100%;
	height: 550px;
	position: absolute;
	z-index: -1;
	transform: skewY(-10deg);
	top: -280px;
	left: 0;
	background: var(--primary-blue);
}

.profile-image {
	position: relative;
}

.profile-image img {
	height: 350px;
	object-fit: cover;
}

.profile-container {
	padding: 20px 0;
	display: flex;
	align-items: center;
}

.title {
	font-family: var(--font-title);
	font-weight: 400;
}

.social-icons {
	align-self: flex-end;
	font-size: 24px;
}

a {
	text-decoration: none;
	color: var(--text-dark);
}

a:hover {
	color: var(--primary-blue);
}

.name-overlay {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: var(--white);
	filter: drop-shadow(2px 0px 1px var(--text-dark));
}

.about-card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	background-color: var(--bg-light);
	height: min-content;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
	flex: 1;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	row-gap: 20px;
	column-gap: 10px;
}

.project-card {
	background: var(--bg-light);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.project-screenshot {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 60px;
	color: var(--white);
	font-size: 32px;
}

.project-one {
	background-color: #9b2628;
}

.project-two {
	background-color: #7c77c5;
}

.project-three {
	background-color: #5f8c52;
}

.project-four {
	background-color: #c167b1;
}

.project-five {
	background-color: #d58d47;
}

.project-six {
	background-color: #50a1ce;
}

.project-info {
	padding: 20px;
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.project-links {
	font-size: 22px;
}

img {
	width: 300px;
}
